.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    gap: 2rem;
}
.grid-item {
    border: 1px solid #ccc;
    min-height: 350px;
    padding: 0 2rem;
    background: linear-gradient(to right, #09AEF4 50%, transparent 50%);
    background-size: 210%;
    background-position: right bottom; /* Initial position */
    transition: background-position 0.5s ease; /* Smooth transition */
    align-content: center;
    .font-sizePx20{
         text-decoration: none;
    }
    &:hover{
        background-position: left bottom; /* On hover, move to left bottom */
        span{
            color: white;
        }
    }
  }