// background
@use "sass:math";
@use "sass:string";

@mixin translate50 {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin roundedCorners {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@mixin rotateBase {
  -webkit-transform: rotate3d(-1, 1, 0, 0deg);
  -ms-transform: rotate3d(-1, 1, 0, 0deg);
  -o-transform: rotate3d(-1, 1, 0, 0deg);
  transform: rotate3d(-1, 1, 0, 0deg);
}

@mixin rotateRight {
  -webkit-transform: rotate3d(-1, 1, 0, 30deg);
  -ms-transform: rotate3d(-1, 1, 0, 30deg);
  -o-transform: rotate3d(-1, 1, 0, 30deg);
  transform: rotate3d(-1, 1, 0, 30deg);
}

@mixin rotateLeft {
  -webkit-transform: rotate3d(-1, 1, 0, -30deg);
  -ms-transform: rotate3d(-1, 1, 0, -30deg);
  -o-transform: rotate3d(-1, 1, 0, -30deg);
  transform: rotate3d(-1, 1, 0, -30deg);
}

// Star generation function
@function generateStars($n) {
  $value: '0 #{math.random(2000)}px #{math.random(2000)}px ';

  @for $i from 2 through $n {
    $value: '#{$value} , #{math.random(2000)}px #{math.random(2000)}px ';
  }

  @return string.unquote($value);
}

$stars-small: generateStars(700);
$stars-medium: generateStars(200);
$stars-big: generateStars(100);
// background
.row{
  --bs-gutter-x: 0rem !important;
}
.main-banner{
    height: 800px;
    position: relative;
    overflow: hidden;
    #stars-container {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      // background: radial-gradient(ellipse at bottom, #171A34 0%, #171A34 100%);
      z-index: -1;
    }
  
    #stars,
    #stars2,
    #stars3 {
      position: absolute;
      top: 0;
      left: 0;
      background: transparent;
      @include roundedCorners;
    }

    #stars {
      width: 2px;
      height: 2px;
      box-shadow: $stars-small;
      animation: animateStars 28.5s ease-in-out infinite;
    }

    #stars2 {
      width: 3px;
      height: 3px;
      box-shadow: $stars-medium;
      animation: animateStars 30s ease-in-out infinite;
    }

    #stars3 {
      width: 4px;
      height: 4px;
      box-shadow: $stars-big;
      animation: animateStars 31.5s ease-in-out infinite;
    }
  
    @keyframes animateStars {
      0% {
        @include rotateBase;
      }
      25% {
        @include rotateRight;
      }
      50% {
        @include rotateBase;
      }
      75% {
        @include rotateLeft;
      }
      100% {
        @include rotateBase;
      }
    }

.banner-side {
    h6{
      color: #09AFF4;
      margin-bottom: 0;
    }
    h1{
      margin-top: 0px;
      font-size: 70px;
      font-weight: 900;
    }
    p{
      width: 550px;
      font-size: 20px;
    }
    .image-holder {
      width: 655px;
      height: 655px;
      border-radius: 100%;
      border: 2px solid #13547E;
      position: relative;
      perspective: 1000px;
      transform-style: preserve-3d;
      transform-origin: center;
      transition: transform 0.05s ease-out;
      img {
        position: absolute;
        z-index: 2;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
  
    }

    .big-letter{
      img{
        margin-top: -20px;
        width: 320px;
      }
    }

    .line-icon{
      color: #09AFF4;
      width: 170px;
      font-size: 22px;
    }

    .round-button{
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin-left: 20px;
      border: 2px solid #09AFF4;
      background-color: #09AFF4;
      color: white;
      animation: pulse 2s infinite;
    }
    @keyframes pulse {
      0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(9, 175, 244, 0.7);
      }
      70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(9, 175, 244, 0);
      }
      100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(9, 175, 244, 0);
      }
    }
  }
}

.pt-10 {
    padding-top: 170px;
}

.modal-header{
  padding: 5px 10px 5px 10px;
}
.modal-body{
  padding: 0;
}

@media screen and (max-width: 1355px) {
  .main-banner{
    height: 700px;
    .banner-side {
      h1{
        font-size: 50px;
      }
      p{
        width: 500px;
        font-size: 18px;
      }
      .image-holder {
        width: 500px;
        height: 500px;
        margin-top: 30px;
      }
      .big-letter{
        img{
          margin-top: -20px;
          width: 320px;
        }
      }
    }
  }
  .rowCC{
    align-items: normal;
    justify-content: right;
  }
  .pt-10{
    padding-top: 100px;
  }
}
@media screen and (max-width: 1220px) {
  .main-banner{
    height: 700px;
    .banner-side {
      h1{
        font-size: 50px;
      }
      p{
        width: 400px;
        font-size: 16px;
      }
      .big-letter{
        img{
          margin-top: -20px;
          width: 260px;
        }
      }
    }
  }
  .px-10{
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 993px) {
  .main-banner{
    height: 1000px;
  }
  .rowCC{
    justify-content: center;
  }
  .px-10{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 606px) {
  .main-banner{
    height: 820px;
    .banner-side {
      h1{
        font-size: 35px;
      }
      p{
        width: auto;
        font-size: 16px;
      }
      .image-holder {
        width: 400px;
        height: 400px;
        margin-top: 0px;
      }
      .big-letter{
        img{
          width: 160px;
        }
      }
    }
  }
  .pt-10{
    padding-top: 50px;
  }
}
@media screen and (max-width: 460px) {
  .main-banner{
    .banner-side {
      .image-holder {
        width: 300px;
        height: 300px;
        margin-top: 0px;
      }
      .line-icon{
        color: white;
        width: 130px;
        font-size: 18px;
      }
    }
  }
}