.btn-outline-primary{
    border-color: #09AFF4;
    color: #09AFF4;
    font-size: 15px;
    border: 2px solid #09AFF4; 
    border-radius: 0 20px 0 20px;
    height: 50px;
    width: 170px;
    font-weight: 700;
    &:hover{
        border: 2px solid #09AFF4; 
        background-color: #09AFF4;
        color: white;
    }
}

@media screen and (max-width: 1355px) {
    .btn-outline-primary{
        font-size: 15px;
        height: 50px;
        width: 160px;
    }
}

@media screen and (max-width: 606px) {
    .btn-outline-primary{
        font-size: 13px;
        width: 130px;
    }
}