// Import global variables
@use './variables.scss' as *;
@use './scss-sugar.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark {
  color: $text-color;
  // background-color: $background-color;
}

/* Apply dark theme styles */
body.light {
  color: $muted-text-color;
  background-color: black;
}