$primary-color: #10aef7;
$secondary-color: #6c757d;
$background-color: #e2e8ed;
$background: #060923;
$text-color: #070a23;
$muted-text-color: #fffefe;

// Fonts
$base-font: 'Arial', sans-serif;
$heading-font: 'Georgia', serif;