.portfolio-banner{
    width: 100%;
    height: 555px;
    margin-top: 100px;
    margin-bottom: 50px;
    img{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 1355px) {
    .portfolio-banner{
        width: 100%;
        height: 455px;
    }
}
@media screen and (max-width: 1200px) {
    .portfolio-banner{
        width: 100%;
        height: 355px;
    }
}
@media screen and (max-width: 990px) {
    .portfolio-banner{
        width: 100%;
        height: 300px;
    }
}
@media screen and (max-width: 800px) {
    .portfolio-banner{
        width: 100%;
        height: 250px;
    }
}
@media screen and (max-width: 500px) {
    .portfolio-banner{
        width: 100%;
        height: 200px;
    }
}