.media {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  padding: 0 100px;
}

.leftside {
  grid-column: span 8;
  p {
    font-size: 20px;
  }
}
.bigimg {
  width: 100%;
}
.col {
  display: flex;
  gap: 1rem;
}

.cover {
  object-fit: cover;
  height: 240px;
  width: 50%;
  border-radius: 5px;
}

/* Four Box Section */
.fourBox {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
}

.box {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  grid-column: span 5;
  opacity: 0.9;

  h1 {
    font-size: 50px;
    font-weight: bold;
    color: #007bff;
    line-height: 1;
  }
  h4 {
    margin-bottom: 1rem;
  }

  p {
    color: gray;
    font-size: 14px;
  }
}

.rightside {
  grid-column: span 4;
  .right {
    position: sticky;
    top: 150px;
  }
  .right_item {
    background-color: #1285bf;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 2rem;
    opacity: 0.9;
    ul {
      padding-left: 0;
    }
    h4 {
      margin-bottom: 1rem;
      color: white;
    }
    li {
      margin-bottom: 1rem;
      border-radius: 5px;
      padding: 15px;
      color: white;
      background-color: rgba(0, 0, 0, 0.9);
      display: flex;
      gap: 1rem;
      align-items: center;
      transition: background-color 0.3s ease;
      opacity: 0.6;
    }
    li:hover {
      opacity: 1;
      transition: 0.3s;
    }

    li:first-child {
      background-color: black;
      opacity: 1;
      pointer-events: none;
    }

    li .fa-arrow-right-long {
      opacity: 0;
      transform: translateX(0);
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    }

    li:hover .fa-arrow-right-long {
      opacity: 1;
      transform: translateX(10px);
    }

    li:first-child .fa-arrow-right-long {
      opacity: 1;
    }

    li:first-child:hover .fa-arrow-right-long {
      transform: translateX(0);
    }
  }
  .second-link a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: gray;
    transition: color 0.3s ease;
  }

  .second-link a .fa-arrow-right-long {
    opacity: 0;
    transform: translateX(0);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  .second-link:hover a {
    color: white;
  }

  .second-link:hover a .fa-arrow-right-long {
    opacity: 1;
    transform: translateX(10px);
  }

  .social-links {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    a {
      padding: 10px;
      font-size: 22px;
      border-radius: 5px;
      color: white;
      background-color: rgba(0, 0, 0, 0.734);
    }
  }
  .rightitem {
    background-color: #1285bf;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 2rem;
    opacity: 0.9;
    ul {
      padding-left: 0;
    }
  }
}
.faq-container {
  max-width: 800px;
  .faq-item {
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #1285bf;
    .faq-question {
      background-color: transparent;
      padding: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: none;
      border: none;
      text-align: left;
      font-size: 18px;
      color: #1285bf;
      font-weight: 600;
      cursor: pointer;
      outline: none;
    }
    .faq-answer {
      font-size: 14px;
      overflow: hidden;
      padding: 0 1rem;
      max-height: 0;
      transition: max-height 0.5s ease-in-out;
      &.active {
        max-height: 300px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .media {
    grid-template-rows: auto;
  }

  .leftside {
    grid-column: span 12;
  }

  .rightside {
    grid-column: span 12;
  }
}

@media (max-width: 768px) {
  .col {
    flex-direction: column;
    gap: 1rem;
  }
  .cover {
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 640px) {
  .media {
    padding: 0 20px;
  }
  .leftside img {
    height: auto;
    max-height: 300px;
  }
  .fourBox {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .box {
    grid-column: span 12;
  }
}
