.main-container-choose{
    height: 900px;
    .half-container{
        h6{
        color: #09AFF4;
        margin-bottom: 0;
        }
        .circle{
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .image-holder{
            img{
                width: 90%;
                height: 90%;
            }
        }
        .contain-field{
            margin-top: 40px;
            width: 100%;
            .field{
                height: 140px;
                .box{
                    width: 50px;
                    height: 50px;
                    font-size: 25px;
                    margin-right: 20px;
                    margin-top: -15px;
                    color: #09AFF4;
                    strong{
                        font-size: 40px;
                        font-weight: 900;
                    }
                }
            }
        }
        .font-lg{
            margin-top: 10px;
            font-weight: 700;
            font-size: 45px;
            padding-right: 100px;
        }
        .mt-10{
            margin-left: 0px;
            margin-top: 60px;
        }
    }
}
@media screen and (max-width: 1355px) {
    .main-container-choose{
        .half-container{
            .mt-10{
                margin-top: 100px;
            }
        }
    }
    .px-10{
        padding: 0 50px 0 50px;
    }
}
@media screen and (max-width: 1200px) {
    .main-container-choose{
        height: 1000px;
        .half-container{
            .mt-10{
                margin-top: 200px;
            }
            .contain-field{
                .field{
                    height: 140px;
                    padding-right: 100px;
                }
            }
            .font-lg{
                font-size: 35px;
                padding-right: 100px;
            }
            .font-sizePx18{
                font-size: 16px !important;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .main-container-choose{
        height: auto;
        .half-container{
            .mt-10{
                margin-top: 50px;
            }
            .font-lg{
                font-size: 30px;
                padding-right: 200px;
            }
            .mt-10{
                margin-left: 0px;
            }
        }
        .btn-outline-primary{
            margin-bottom: 20px;
        }
    }
    .px-10{
        padding: 0 100px 0 100px;
    }
}
@media screen and (max-width: 800px) {
    .px-10{
        padding: 0 30px 0 30px;
    }
}
@media screen and (max-width: 670px) {
    .main-container-choose{
        .half-container{
            .image-holder{
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media screen and (max-width: 460px) {
    .main-container-choose{
        .half-container{
            .font-lg{
                font-size: 25px;
                padding-right: 50px;
            }
            .contain-field{
                .field{
                    height: 200px;
                    padding-right: 20px;
                }
            }
        }
    }
}
@media screen and (max-width: 376px) {
    .main-container-choose{
        .half-container{
            .contain-field{
                .field{
                    height: 230px;
                    padding-right: 10px;
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}