// src/components/PropHeader.scss
.prop-header {
    // background: url("../../../assets/aboutbg.png");
    padding: 11% 0;
    text-align: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../assets/aboutbg.png");
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  
    &__content {
      position: relative;
    }
  
    &__title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    &__breadcrumbs {
      font-size: 0.875rem;
  
      .prop-header__link {
        text-decoration: none;
        color: inherit;
        transition: color 0.2s;
  
        &:hover {
          color: rgb(5, 9, 230);
        }
      }
  
      .prop-header__text {
        color: inherit;
      }
    }
  }
  