@use '../../styles/variables' as *;

.footer-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/src/assets/home/download.jpeg');
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.useful-links ul li {
  margin-bottom: 15px;
}

.list-unstyled {
  .line-icon {
    color: white;

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-color;
      height: 30px;
      width: 30px;
      border-radius: 10%;
      font-size: 20px;
      &:hover {
        transform: translateY(-10px);
        transition: 1.5s ease;
      }
    }
  }
  .icon {
    color: $primary-color;
  }
  a:hover {
    margin-left: 10px;
    transition: 1s ease;
    behavior: smooth;
  }
}