@use '../../styles/variables' as *;

.center {
  padding: 0 100px;
  margin-top: 100px;

  .text-icon {
    display: flex;
    font-size: 18px;

    .box {
      margin: 0 10px 0 10px;
    }
  }

  .banner-title {
    margin: 30px 0;
  }
  img {
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 10px;
  }

  .content {
    .text {
      font-size: 18px;
      line-height: 1.5;
      text-align: justify;
      color: white;
    }
    .img-sub {
      object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 50%;
    }
  }

  .box-text {
    border-left: 5px solid $primary-color;
    background-color: #0d2240;
    width: 100%;

    h3 {
      color: $primary-color;
    }

    .cricle {
      border-radius: 100%;
      height: 80px;
      width: 80px;
      border: 2px solid $primary-color;
      overflow: hidden;
    }

    .text-profile {
      width: 95%;
    }

    .text-icon {
      .box {
        font-size: 18px;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  form {
    span {
      color: red;
    }
    .form-control {
      border: 1px solid #09aff4;
      border-radius: 5px;
      height: 50px;
      background-color: white;
    }
    .big-form {
      height: 200px !important;
    }
    .custom-gap {
      --bs-gutter-x: 15px;
      --bs-gutter-y: 12px;
    }
  }

  @media screen and (max-width: 1355px) {
    .pt-10 {
      padding-top: 100px;
    }
  }
  @media screen and (max-width: 1220px) {
    .px-10 {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  @media screen and (max-width: 993px) {
    .px-10 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
