* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body.light {
  color: black;
  background-color: white;
}

/* Apply dark theme styles */
body.dark {
  color: white;
  background-color: black;
}

select {
  color: black;
  background-color: white;
  border: 1px solid #ccc;
}

select:focus {
  outline: none;
}
